* {
  font-family: "Arima Madurai", cursive;
}
#title {
  display: flex;
  justify-content: center;
}
#menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
.meal {
  border: 1px solid black;
  position: relative;
  background-color: gainsboro;
  margin-bottom: 1.5%;
  text-align: center;
  width: 30%;
}

.title {
  position: absolute;
  right: 0px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 40px;
  padding-left: 40px;
  font-size: larger;
  font-weight: bold;
  color: white;
}
#chicken {
  background-color: pink;
}
#beef {
  background-color: red;
}
#sushi {
  background-color: dodgerblue;
}
p {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #menu {
    flex-wrap: wrap;
  }
  #chicken-meal,
  #beef-meal {
    width: 49%;
  }
  #sushi-meal {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #menu {
    flex-wrap: wrap;
  }
  .meal {
    width: 100%;
  }
}
